# Python Crash Course

This notebook only contains basic topics about Python

## Topics:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
    * Casting
* Comparison Operators
* Conditional Operators
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Data Types

### Numbers

In [1]:
 1 + 10

11

In [2]:
10 * 90

900

In [3]:
10 ** 90

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [5]:
 2 * (20 / .2)

200.0

In [6]:
10 ^ 2

8

In [94]:
10 % 2

0

In [96]:
10 % 3

1

### Strings

In [17]:
# Single line string with double quotes
"Hello World!"

'Hello World!'

In [10]:
# Single line string with single quotes
'Hello World!'

'Hello World!'

In [11]:
# Multiline string with double quotes
"""
Welcome 
to
CMI!
"""

'\nWelcome \nto\nCMI!\n'

In [12]:
# Multiline string with single quotes
'''
"Welcome"
to
CMI!
'''

'\n"Welcome"\nto\nCMI!\n'

In [13]:
# String Escape
'It\'s Fun!'

"It's Fun!"

In [18]:
# String as array
school = "CMI"
print(school[2])

I

In [16]:
# Slicing
school = "College of Mary Immaculate"
print(school[0:7])

College

### Printing

In [19]:
print("Hello World!")

Hello World!

In [23]:
print("Welcome" "to" "CMI!")

WelcometoCMI!

In [24]:
print("Welcome", "to", "CMI!")

Welcome to CMI!

In [22]:
print("Hello, %s!" % ("Student"))

Hello, Student

In [25]:
name = "John"
print("Hello", name, "!")

Hello John !

In [26]:
name = "John"
print("Hello, %s!" % (name))

Hello, John!

In [27]:
name = "John"
print(f"Hello, {name}!")

Hello, John!

### Lists

In [28]:
students = [ "Ara", "John", "Ben" ]
print(students)

['Ara', 'John', 'Ben']

In [29]:
students = [ "Ara", "John", "Ben" ]
print(students[2])

Ben

In [34]:
students = [ "Ara", "John", "Ben" ]
print(students[1:2])

['John']

In [33]:
students = [ "Ara", "John", "Ben" ]
print(students[1:])

['John', 'Ben']

In [35]:
students = [ "Ara", "John", "Ben" ]
print(students[:2])

['Ara', 'John']

In [36]:
students = [ "Ara", "John", "Ben" ]
print(students[::-1])

['Ben', 'John', 'Ara']

### Dictionary

In [40]:
student = {
    "name": "Ara",
    "age": 18,
    "course": "BSCS"
}

print(f"{student['name']} is a {student['course']} student at the of {student['age']}")

Ara is a BSCS student at the of 18

In [43]:
student = {
    "name": "Ara",
    "age": 18,
    "course": "BSCS"
}

student["school"] = "CMI"

print(f"{student['name']} is a {student['course']} student of {student['school']} at the of {student['age']}")

Ara is a BSCS student of CMI at the of 18

In [ ]:
## Booleans

In [44]:
print(5 > 3)

True

In [45]:
print(3 == 3)

True

In [46]:
print(9 < 2)

False

In [47]:
print(bool(10))

True

In [48]:
print(bool("Hello"))

True

In [49]:
print(bool(None))

False

In [50]:
print(bool([]))

False

In [51]:
print(bool({}))

False

In [52]:
## Tuples

In [53]:
students = ( "Ara", "John", "Ben" )
print(students)

('Ara', 'John', 'Ben')

In [55]:
students = ( "Ara", "John", "Ben" )
print(students[-1])

Ben

### Sets

In [56]:
example = { "Person", "School" }
for sample in example:
    print(sample)

School
Person

### Casting

In [57]:
string = "12"

print(int(string) * 12)

144

## Comparison Operators

In [59]:
"b" == "B"

False

In [60]:
"b" == "b"

True

In [61]:
12 != "12"

True

In [64]:
12 > 2

True

In [65]:
2 < 21

True

In [66]:
2 >= 2

True

In [67]:
3 <= 3

True

## Conditional Operators

In [69]:
if 12 > 5:
    print("Tha's it!")

Tha's it!

In [70]:
choice = "b"

if choice == "a":
    print("What?")
elif choice == "b":
    print("Good!")

Good!

In [73]:
choice = "e"

if choice == "a":
    print("What?")
elif choice == "b":
    print("Good!")
else:
    print("Say what?")

Say what?

## For Loops

In [76]:
for character in "Welcome to CMI!":
    print(character)

W
e
l
c
o
m
e

t
o

C
M
I
!

In [78]:
for character in "Welcome to CMI!":
    if (character == " "):
        break
        
    print(character)

W
e
l
c
o
m
e

## While Loops

In [77]:
count = 0

while count < 3:
    print(count)
    count += 1

0
1
2

## Range

In [80]:
for count in range(10):
    print(count)

0
1
2
3
4
5
6
7
8
9

In [81]:
for count in range(5, 10):
    print(count)

5
6
7
8
9

In [82]:
for count in range(1, 10, 2):
    print(count)

1
3
5
7
9

In [85]:
for count in range(10, 0, -1):
    print(count)

10
9
8
7
6
5
4
3
2
1

## List Comprehension

In [86]:
odds = [ number for number in range(1, 10, 2) ]
print(odds)

[1, 3, 5, 7, 9]

## Function

In [87]:
def add(first, second):
    return first + second


print(add(1, 12))

13

In [91]:
def list(*items):
    for item in items:
        print(item)
        
fruits = [ "Apple", "Banana", "Orage"]
list(fruits)

['Apple', 'Banana', 'Orage']

## Lambda Functions

In [103]:
isOdd = lambda number : number % 2 != 0

print(isOdd(9))
print(isOdd(10))

True
False

## Map

In [111]:
def isOdd(number):
    return "False" if number % 2 == 0 else "True"

x = map(isOdd, (12, 2, 3, 9))
print(list(x))

<map object at 0x7f44bc639990>
None

## Filter

In [ ]:
ages = (12, 23, 56, 65, 23, 11, 34)

def isMinor(age):
    return age < 18


minors = filter(isMinor, ages)

print(list(minors))

## Methods

In [2]:
def showMessage():
    print("Welcome to CMI!")
    
showMessage()

Welcome to CMI!